<div class="page-header">
  <h1>About <small>Us</small></h1>
</div>
  
<p>Jungle is a mini e-commerce site that provides a variety of products from a wide range of categories. Online purchases are transacted through the implementation of Stripe.</p>